@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,700');
@font-face {
  font-family: 'UraBumBum';
  src: url(./fonts/UraBumBumSP.otf);
  font-weight: normal;
  font-style: normal;
}


.lang_link {
  padding: 0;
  background: #fff;
  width:150px;
  top: 6;
  right: 0;
  position: absolute;
  border: 0.5px solid #000;
  border-radius: 5px;
  display: none;
  user-select: none;
}

.lang-link-button:hover .lang_link {
 display: block;
 
}

.lang-link-button {
  cursor: pointer;
  user-select: none;
}

.lang_link_option {
  padding-bottom: 10px  ;
  padding-top: 10px  ;
  border-bottom: 1px solid #000;
  user-select: none;

}
.lang_link_option_last {
  padding-bottom: 10px  ;
  padding-top: 10px  ;
  user-select: none;
}
.lang_link_option_text {
  all: unset;
  padding-left: 5px;
  display: flex;
  align-self: flex-start;
  user-select: none;
}
/* Global */
* {
  box-sizing: border-box;
}
body{
  color: #090b08;
  margin:  0;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  background-color: #bdedfc;
  user-select: none;
}
h1{
  font-size: 1.7em;
  font-weight: 700;
  line-height: 1.5em;
  text-transform: uppercase;
  user-select: none;
}
h2{
  text-transform: uppercase;
  user-select: none;
}
h4{
  font-size: .8em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  user-select: none;
}
h6{
  font-weight: 500;
  user-select: none;
}
a{
  text-decoration: none;
  color: #090b08;
  user-select: none;
}
ul{
  list-style: none;
  user-select: none;
}
section{
  padding: 5.8em 2em 2em;
  user-select: none;
}
.title{
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 1em;
  user-select: none;
}
.title.title-right{
  justify-content: flex-end;
}
.line{
  width: 3em;
  height: 1px;
  background-color: #000;
  margin-right: 1em;
}
.line.line-right{
  order: 2;
  margin-right: 0;
  margin-left: 1em;
}
.btn{
  display: inline-block;
  padding: .5em 1.5em;
  border: solid 1px #090b08;
  transition: all .3s ease-in;
  user-select: none;
  margin-top: .5em ;
}
.btn:hover, .btn:focus{
  transform: translate(0px, -2px);
  -webkit-box-shadow: 0px 10px 7px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 7px -9px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 7px -9px rgba(0,0,0,0.75);
  transition: all .3s ease-out;
}

/* Header */
header{
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  z-index: 2;
  user-select: none;
  align-items: center;
  background-color: #bdedfc;
}
/*
header:before{
  content: "";
  position: absolute;
  background-color: #bdedfc;
  width: 100%;
  height: 100%;
  z-index: -1;
  user-select: none;
  
}
  */
.nav-brand {
  font-family: UraBumBum;
  font-size: 30px;
  user-select: none;
  color: #ff5e00;
  padding-left: 2em;
}

.navbar{
  display: flex;
  position: relative;
  height: auto;
  width: auto;
  background-color: transparent;
  z-index: 1;
  padding-right: 2em;
}
.menu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  user-select: none;
}
a.nav-link{
  margin-right: 1em;
}
a.nav-link:hover,
a.nav-link:active,
a.nav-link:focus{
  font-weight: bold;
}
.menu li{
  
  user-select: none;
}







/* Hero Section */
.hero {
	display: flex;
	height: 100vh;
	align-items: center;
  background: url(./image/photomain.webp) 50% / cover no-repeat;
  user-select: none;
}


.hero-text{
  padding: 0 2em 7.5em;
  color: #fff;
  user-select: none;
}

.btn_main {
  display: inline-block;
  padding: .5em 1.5em;
  border: solid 1px #ffffff;
  transition: all .3s ease-in;
  color: #fff;
  user-select: none;
}

.btn_main:hover, .btn_main:focus{
  transform: translate(0px, -2px);
  -webkit-box-shadow: 0px 10px 7px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 7px -9px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 7px -9px rgba(0,0,0,0.75);
  transition: all .3s ease-out;
}

/* Featured Section */
#featured .image img{
  width: 100%;
  height: 70%;
  border-radius: 5px;
  margin-top: 6em;
}
.text{
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  user-select: none;
}
.text p{
  padding-bottom: 1em;
  user-select: none;
  line-height: 1.4em;
}

/* Collections Section */
.box{
  display: block;
  position: relative;
  padding: 1.3em;
  background-color: #bdedfc;
  text-align: center;
  margin-bottom: 2em;
  user-select: none;
}
.box-overlay {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
	border: solid 3px #fff;
	transform: translate(8px, 8px);
  transition: all 1s ease;
}
.box:last-child{
  margin-bottom: 5.8em;
}
.box:hover .box-overlay,
.box:focus .box-overlay
{
  transform: translate(0px, 0px) scale(0.92, 1);
}

/* About Section */
#about{
 background-color: #fff;
 user-select: none;
}
section#about{
  padding-bottom: 5.8em;
  user-select: none;
}
#about .text{
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 2em;
  user-select: none;
}
#about .text p{
  padding-bottom: 0;
  text-align: left;
  user-select: none;
}
.video-wrapper{
  padding: 0;
  margin: 0;
  background-image: url(./image/main.jpg) ;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  overflow: hidden;
  height: 0;
  user-select: none;
}


/* Contact Section */
section#contact{
  padding: 3em 2em .5em;
  user-select: none;
}
.form-wrapper:after,
.contact-wrapper:after{
  display: block;
  content: "";
  margin: 2em auto;
  border-bottom: solid 1px #ffffff;
}
form{
  display: flex;
}
form input:first-child{
  flex: 1 0 80%;
  background-color: transparent;
}
form input:last-child{
  flex: 1 0 20%;
  border-left: 0;
  cursor: pointer;
  background-color: #bdedfc;
  transition: all .25s ease;
}
#submit:hover {
	background-color: #000;
	color: #fff;
  transition: all .25s ease;
}
input{
  padding: 1em;
  border: 1px solid #000;
}
.contact-wrapper .wrapper{
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}
.contact-wrapper .social-menu{
  user-select: none;
  flex: 1 0 100%;
  padding: 0;
  display: flex;
  order: 3;
  justify-content: flex-start;
}
.contact-wrapper .social-menu li a {
	font-size: 1.5em;
  padding: 0;
  margin: 0 1.5em 0 0;
}
.contact-wrapper a i{
  width: 100%;
  padding-bottom: .2em;
}
.contact-footer{
  padding: 1em 0;
  border: 1px solid #000;
}
.text_footer {
  display: flex;
  align-self: center;
  user-select: none;
}
.contact-footer:last-child{
}
.contact-footer:hover{
  background-color: #ffffff;
}
.contact-tel{
  flex: 1 0 50%;
}
.contact-email{
  flex: 1 0 50%;  
}
.copy-wrapper a{
  font-weight: 700;
}


.popup {
  user-select: none;
  z-index: 1;
   position: fixed;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.75);
   top: 0;
   left: 0;
   opacity: 0;
   visibility: hidden;
   overflow-y: hidden;
   overflow-x: hidden;
   transition: all 0.5s ease 0.5s;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  margin-top: 20px;
}

.popup__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  color: #000;
  max-width: 800px;
  padding: 30px;
  position: relative;
  width: 600PX;
  height: 400px;
  text-align: start;
}


.popup__close {
 position: absolute;
 right: 10px;
 top: 10px;
 color: #000;
}

.popup_text_price {
  display: flex;
  justify-content: space-between;

}

.popup__title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.popup__text {
 padding-bottom: 1em;
 font-size: 15px;
 padding-right: 2em;
}

.popup__price {
  font-size: 15px;
  white-space: nowrap;
}

.popup1 {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.popup1__area {
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
}

.popup1:target {
 opacity: 1;
 visibility: visible;
}

.popup1__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  margin-top: 20px;
}

.popup1__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  color: #000;
  max-width: 800px;
  padding: 30px;
  position: relative;
  width: 600PX;
  height: 400px;
  text-align: start;
}

.popup1__close {
position: absolute;
right: 10px;
top: 10px;
color: #000;
}

.popup1__title {
 font-size: 20px;
 font-weight: bold;
 margin-bottom: 1em;
}

.popup1__text {

}

.popup1__price {
  font-size: 15px;
  white-space: nowrap;
}

.popup2 {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.popup2__area {
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
}

.popup2:target {
 opacity: 1;
 visibility: visible;
}

.popup2__body {
 min-height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 30px 10px;
}

.popup2__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  color: #000;
  max-width: 800px;
  padding: 30px;
  position: relative;
  width: 600PX;
  height: 400px;
  text-align: start;
}

.popup2__close {
position: absolute;
  right: 10px;
  top: 10px;
color: #000;
}

.popup2__title {
 font-size: 20px;
 font-weight: bold;
 margin-bottom: 1em;
}

.popup2__price {
  font-size: 15px;
  white-space: nowrap;
}

.popup2__text {

}
/* Responsive Style */
@media(min-width: 320px){
  
}
@media(min-width: 576px){
  
  /*  Global  */
  h1{
    font-size: 2em;
  }

  /*  Hero Section  */
  .hero{
    
    justify-content: center;
    overflow: hidden;
  }

  .hero-text{
    padding: 0 2em;
  }

  /*  Featured Section  */
  .text{
    margin: 2em 2em auto;
  }

  /*  Collections Section  */
  #collections .wrapper{
    display: flex;
    flex-wrap: wrap;
  }
  .box{
    padding: 3.2em;
  }
  .box1{
    flex: 1 0 47%;
    margin-right: 1em;
  }
  .box2{
    flex: 1 0 47%;
  }
  .box3{
    flex: 2 0 100%;
  }

  /*  About Section  */
  .video-wrapper{
    margin: 0 2em;
  }
}
@media (max-width: 768px) {
  .menu > li{
    display: none;
    margin-top: 0;
  }
  .menu > li:last-child{
    display: block;
    margin-top: 0;
  }
  
}
@media(min-width: 768px){
  
  section{
    padding: 5.8em 7em 5.8em;
  }
  /*  Global  */
  .wrapper{
    display: flex;
  }

  /*  Header  */
  .nav-brand img{
    height: 2em;
  }  
  
  .navbar{
    display: flex;
    position: relative;
    height: auto;
    width: auto;
    background-color: transparent;
    z-index: 1;
  }
    
  .menu{
    
    flex-direction: row;
    padding: 0;
    justify-content: flex-end;
  }

  .menu li{

    margin-top: 0;
  }
  .menu li:last-child{

    margin-top: 0;
  }
  a.nav-link{
    margin-right: 3em;
  }


  /*  Featured Section  */
  .text{
    text-align: left;
    margin: 4 2 auto 4;
  }
  #featured .text{
    flex: 1;
    order: 1;
  }
  #featured .image{
    flex: 0.2 0 6em;
    order: 2;
  }


  /*  Collections Section  */
  #collections .wrapper{
    margin: 0 4em;
  }

  /*  About Section  */
  #about .wrapper{
    display: block;
  }
  #about .text{
    margin-right: 4em;
  }
  .video-wrapper{
    margin: auto 4em;
  }

  /* Contact Section  */
  #contact .wrapper{
    flex-wrap: wrap;
  }
  .form-wrapper, .contact-wrapper{
    flex: 1 0 50%;
    align-self: center;
    padding: 0 1em;
  }
  .copy-wrapper{
    flex: 1 0 100%;
    padding: 0 1em;
  }
  .form-wrapper:after,
  .contact-wrapper:after{
    display: none;
  }
  .contact-footer{
    border: 0;
    padding: 0;
    margin: .6em auto;
    text-align: left;
  }
  .contact-footer:hover{
    background-color: transparent;
  }
  .contact-wrapper a.contact-footer:hover i{

  }
  .contact-wrapper a i{
    width: auto;
    padding-right: 1em;
  }
  .contact-wrapper .social-menu{
    display: flex;
    order: 3;
    justify-content: flex-start;
  }
  .contact-wrapper .social-menu a i{
    padding-right: 0;
  }
  .copy-wrapper:before{
    display: block;
    content: "";
    margin: 2em auto;
    border-bottom: solid 1px #ffffff;
  }
}
@media(min-width: 992px){
  .menu li{
    margin-top: 0;
    
  }
  a.nav-link{
    margin-right: 3em;
  }


  /*  Global  */
  section{
    padding: 5.8em 7em 5.8em;
  }
  .title.title-left{
    margin-left: -2.5em;
  }
  .title.title-right{
    margin-right: -2.5em;
  }
  .line{
    width: 5.5em;
  }

  /*  Hero Section  */
 

  /*  Featured Section  */
  #featured .image{
    margin-top: -2em;
  }

  /* About Section  */
  #about .wrapper{
    display: flex;
  }
  #about .text{
    flex: 1 0 40%;
    margin-right: 1em;
    padding-bottom: 0;
  }
  .video-wrapper{
    flex: 2 0 55%;
    padding-bottom: 33.25%;
    align-self: center;
    margin: 1.4em 0;
  }
  .contact-tel{
    flex-basis: 20%;
  }
}
@media(min-width: 1200px){
  /*  Global  */
  h1{
    font-size: 1.7em;
  }
  section{
    padding: 5.8em 11em 5.8em;
  }

  /*  Hero Section  */


  /*  Featured Section  */
  #featured .image{
    margin-top: -4em;
  }

  /*  About Section  */
  #about .text{
    padding-right: 3em;
    padding-bottom: 0;
  }
  .video-wrapper{
    margin: 0;
  }

  
}


/* Стили для контейнера попапа */
.popup-container {
  display: none; /* Скрываем попапы по умолчанию */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Темный фон */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Стили для контента попапа */
.slider-frame {
  position: relative;
  background-color: #fff;
  padding: 28px;
  border-radius: 5px;
  width: 60%;
  max-width: 600px;
  height: auto; /* Убираем жесткое ограничение по высоте */
  overflow: hidden;
  justify-content: center;
  align-items: center;
  z-index: 2;
  display: flex;
  flex-direction: column;
  max-height: 90vh/* Контент попапа всегда поверх */
}

/* Кнопка закрытия */
.close-icon {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #000;
  cursor: pointer;
  z-index: 3; /* Кнопка закрытия поверх контента */
}

/* Стиль для слайдера */
.image-slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; ;
}

.slider-images {
  display: flex;
  transition: transform 0.5s ease;
}

.slider-slide {
  min-width: 100%;
  height: auto; /* Высота слайда будет автоматически изменяться в зависимости от картинки */
  display: flex;
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; 
  
}

.slider-slide img {
  width: 100%;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

/* Стиль для кнопок переключения слайдов */
.slider-btn-prev, .slider-btn-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 30px;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
  border-radius: 5px;
}

.slider-btn-prev {
  left: 10px;
}

.slider-btn-next {
  right: 10px;
}

@media screen and (max-width: 992px) {
  .slider-frame {
    width: 90%;
    height: 70%;
  }
}

@media screen and (max-width: 768px) {
  .slider-frame {
    width: 90%;
    height: 65%;
  }
}

@media screen and (max-width: 576px) {
  .slider-frame {
    width: 90%;
    height: 50%;
    padding: 20px;
  }
}
